body{
    margin: 0px;
    padding: 0px;
}

.countryCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid;
}



